<html>
  <head>
    <meta charset='UTF-8'>
      <title>Customer Analytics</title>
      <style>
        body {
          background-color: black;
        }
        h1 {
          color: dodgerblue;
          font-family: Monospace;
        }
        </style>
  </head>
  <body>
    <h1>
      <li><%= "#{@one_time_buyers_top_item.name} is the one time buyers top item."%></li>
    </h1>
  </body>
</html>
