<html>
  <head>
    <meta charset='UTF-8'>
      <title>Customer Analytics</title>
      <style>
        body {
          background-color: black;
        }
        h1 {
          color: dodgerblue;
          font-family: Monospace;
        }
        </style>
  </head>
  <body>
    <h1>
    <% counter = 0 %>
    <% @top_buyers.each do |customer| %>
      <% counter += 1 %>
      <li><%= "#{customer.first_name} #{customer.last_name} is the ##{counter} buyer."%></li>
    <% end %>
    </h1>
  </body>
</html>
