<html>
  <head>
    <meta charset='UTF-8'>
      <title>Customer Analytics</title>
      <link rel='stylesheet' href='stylesheets/style.css' type='text/css'>
  </head>
  <body>
    <h1><%= @message %></h1>
  </body>
</html>
